<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="GeneralTests" verbose="1" >
    <listeners>
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
    </listeners>
    <test name="smokeTest" >
        <classes>
            <class name="tests.LoadFileTests" />
            <class name="tests.NavigationTests" />
            <class name="tests.DashboardTests" />
            <class name="tests.TextModelTests" />
            <class name="tests.SearchTests" />
            <class name="tests.SettingsTest" />
            <class name="tests.ExcelManagementTests" />
            <class name="tests.CSVManagementTests" />
        </classes>
    </test>
</suite>
